/**
* Layers DevKit Custom Tablet CSS
*/
@media only screen and (max-width: 768px){
	[class*="md-col"] .column { margin: 0 1%; padding: 0 1rem; display: inline-block; }
	.md-hide { display: none; }
	.md-collapse { padding: 1rem 0 !important; }
	.md-col1-hide .column:nth-child(1) { display: none; }
	.md-col2-hide .column:nth-child(2) { display: none; }
	.md-col3-hide .column:nth-child(3) { display: none; }
	.md-col4-hide .column:nth-child(4) { display: none; }
	.md-col5-hide .column:nth-child(5) { display: none; }
	.md-col6-hide .column:nth-child(6) { display: none; }
	.md-col7-hide .column:nth-child(7) { display: none; }
	.md-col8-hide .column:nth-child(8) { display: none; }
	.md-col9-hide .column:nth-child(9) { display: none; }
	.md-col10-hide .column:nth-child(10) { display: none; }
	.md-col11-hide .column:nth-child(11) { display: none; }
	.md-col12-hide .column:nth-child(12) { display: none; } 
	.md-col1-1 .column:nth-child(1) { width: 6.33%; }
	.md-col1-2 .column:nth-child(1) { width: 14.67%; }
	.md-col1-3 .column:nth-child(1) { width: 23%; }
	.md-col1-4 .column:nth-child(1) { width: 31.33%; }
	.md-col1-5 .column:nth-child(1) { width: 39.66%; }
	.md-col1-6 .column:nth-child(1) { width: 48%; }
	.md-col1-7 .column:nth-child(1) { width: 56.33%; }
	.md-col1-8 .column:nth-child(1) { width: 64.66%; }
	.md-col1-9 .column:nth-child(1) { width: 73%; }
	.md-col1-10 .column:nth-child(1) { width: 81.33%; }
	.md-col1-11 .column:nth-child(1) { width: 89.66%; }
	.md-col1-12 .column:nth-child(1) { width: 98%; }
	.md-col2-1 .column:nth-child(2) { width: 6.33%; }
	.md-col2-2 .column:nth-child(2) { width: 14.67%; }
	.md-col2-3 .column:nth-child(2) { width: 23%; }
	.md-col2-4 .column:nth-child(2) { width: 31.33%; }
	.md-col2-5 .column:nth-child(2) { width: 39.66%; }
	.md-col2-6 .column:nth-child(2) { width: 48%; }
	.md-col2-7 .column:nth-child(2) { width: 56.33%; }
	.md-col2-8 .column:nth-child(2) { width: 64.66%; }
	.md-col2-9 .column:nth-child(2) { width: 73%; }
	.md-col2-10 .column:nth-child(2) { width: 81.33%; }
	.md-col2-11 .column:nth-child(2) { width: 89.66%; }
	.md-col2-12 .column:nth-child(2) { width: 98%; }
	.md-col3-1 .column:nth-child(3) { width: 6.33%; }
	.md-col3-2 .column:nth-child(3) { width: 14.67%; }
	.md-col3-3 .column:nth-child(3) { width: 23%; }
	.md-col3-4 .column:nth-child(3) { width: 31.33%; }
	.md-col3-5 .column:nth-child(3) { width: 39.66%; }
	.md-col3-6 .column:nth-child(3) { width: 48%; }
	.md-col3-7 .column:nth-child(3) { width: 56.33%; }
	.md-col3-8 .column:nth-child(3) { width: 64.66%; }
	.md-col3-9 .column:nth-child(3) { width: 73%; }
	.md-col3-10 .column:nth-child(3) { width: 81.33%; }
	.md-col3-11 .column:nth-child(3) { width: 89.66%; }
	.md-col3-12 .column:nth-child(3) { width: 98%; }
	.md-col4-1 .column:nth-child(4) { width: 6.33%; }
	.md-col4-2 .column:nth-child(4) { width: 14.67%; }
	.md-col4-3 .column:nth-child(4) { width: 23%; }
	.md-col4-4 .column:nth-child(4) { width: 31.33%; }
	.md-col4-5 .column:nth-child(4) { width: 39.66%; }
	.md-col4-6 .column:nth-child(4) { width: 48%; }
	.md-col4-7 .column:nth-child(4) { width: 56.33%; }
	.md-col4-8 .column:nth-child(4) { width: 64.66%; }
	.md-col4-9 .column:nth-child(4) { width: 73%; }
	.md-col4-10 .column:nth-child(4) { width: 81.33%; }
	.md-col4-11 .column:nth-child(4) { width: 89.66%; }
	.md-col4-12 .column:nth-child(4) { width: 98%; }
	.md-col5-1 .column:nth-child(5) { width: 6.33%; }
	.md-col5-2 .column:nth-child(5) { width: 14.67%; }
	.md-col5-3 .column:nth-child(5) { width: 23%; }
	.md-col5-4 .column:nth-child(5) { width: 31.33%; }
	.md-col5-5 .column:nth-child(5) { width: 39.66%; }
	.md-col5-6 .column:nth-child(5) { width: 48%; }
	.md-col5-7 .column:nth-child(5) { width: 56.33%; }
	.md-col5-8 .column:nth-child(5) { width: 64.66%; }
	.md-col5-9 .column:nth-child(5) { width: 73%; }
	.md-col5-10 .column:nth-child(5) { width: 81.33%; }
	.md-col5-11 .column:nth-child(5) { width: 89.66%; }
	.md-col5-12 .column:nth-child(5) { width: 98%; }
	.md-col6-1 .column:nth-child(6) { width: 6.33%; }
	.md-col6-2 .column:nth-child(6) { width: 14.67%; }
	.md-col6-3 .column:nth-child(6) { width: 23%; }
	.md-col6-4 .column:nth-child(6) { width: 31.33%; }
	.md-col6-5 .column:nth-child(6) { width: 39.66%; }
	.md-col6-6 .column:nth-child(6) { width: 48%; }
	.md-col6-7 .column:nth-child(6) { width: 56.33%; }
	.md-col6-8 .column:nth-child(6) { width: 64.66%; }
	.md-col6-9 .column:nth-child(6) { width: 73%; }
	.md-col6-10 .column:nth-child(6) { width: 81.33%; }
	.md-col6-11 .column:nth-child(6) { width: 89.66%; }
	.md-col6-12 .column:nth-child(6) { width: 98%; }
	.md-col7-1 .column:nth-child(7) { width: 6.33%; }
	.md-col7-2 .column:nth-child(7) { width: 14.67%; }
	.md-col7-3 .column:nth-child(7) { width: 23%; }
	.md-col7-4 .column:nth-child(7) { width: 31.33%; }
	.md-col7-5 .column:nth-child(7) { width: 39.66%; }
	.md-col7-6 .column:nth-child(7) { width: 48%; }
	.md-col7-7 .column:nth-child(7) { width: 56.33%; }
	.md-col7-8 .column:nth-child(7) { width: 64.66%; }
	.md-col7-9 .column:nth-child(7) { width: 73%; }
	.md-col7-10 .column:nth-child(7) { width: 81.33%; }
	.md-col7-11 .column:nth-child(7) { width: 89.66%; }
	.md-col7-12 .column:nth-child(7) { width: 98%; }
	.md-col8-1 .column:nth-child(8) { width: 6.33%; }
	.md-col8-2 .column:nth-child(8) { width: 14.67%; }
	.md-col8-3 .column:nth-child(8) { width: 23%; }
	.md-col8-4 .column:nth-child(8) { width: 31.33%; }
	.md-col8-5 .column:nth-child(8) { width: 39.66%; }
	.md-col8-6 .column:nth-child(8) { width: 48%; }
	.md-col8-7 .column:nth-child(8) { width: 56.33%; }
	.md-col8-8 .column:nth-child(8) { width: 64.66%; }
	.md-col8-9 .column:nth-child(8) { width: 73%; }
	.md-col8-10 .column:nth-child(8) { width: 81.33%; }
	.md-col8-11 .column:nth-child(8) { width: 89.66%; }
	.md-col8-12 .column:nth-child(8) { width: 98%; }
	.md-col9-1 .column:nth-child(9) { width: 6.33%; }
	.md-col9-2 .column:nth-child(9) { width: 14.67%; }
	.md-col9-3 .column:nth-child(9) { width: 23%; }
	.md-col9-4 .column:nth-child(9) { width: 31.33%; }
	.md-col9-5 .column:nth-child(9) { width: 39.66%; }
	.md-col9-6 .column:nth-child(9) { width: 48%; }
	.md-col9-7 .column:nth-child(9) { width: 56.33%; }
	.md-col9-8 .column:nth-child(9) { width: 64.66%; }
	.md-col9-9 .column:nth-child(9) { width: 73%; }
	.md-col9-10 .column:nth-child(9) { width: 81.33%; }
	.md-col9-11 .column:nth-child(9) { width: 89.66%; }
	.md-col9-12 .column:nth-child(9) { width: 98%; }
	.md-col10-1 .column:nth-child(10) { width: 6.33%; }
	.md-col10-2 .column:nth-child(10) { width: 14.67%; }
	.md-col10-3 .column:nth-child(10) { width: 23%; }
	.md-col10-4 .column:nth-child(10) { width: 31.33%; }
	.md-col10-5 .column:nth-child(10) { width: 39.66%; }
	.md-col10-6 .column:nth-child(10) { width: 48%; }
	.md-col10-7 .column:nth-child(10) { width: 56.33%; }
	.md-col10-8 .column:nth-child(10) { width: 64.66%; }
	.md-col10-9 .column:nth-child(10) { width: 73%; }
	.md-col10-10 .column:nth-child(10) { width: 81.33%; }
	.md-col10-11 .column:nth-child(10) { width: 89.66%; }
	.md-col10-12 .column:nth-child(10) { width: 98%; }
	.md-col11-1 .column:nth-child(11) { width: 6.33%; }
	.md-col11-2 .column:nth-child(11) { width: 14.67%; }
	.md-col11-3 .column:nth-child(11) { width: 23%; }
	.md-col11-4 .column:nth-child(11) { width: 31.33%; }
	.md-col11-5 .column:nth-child(11) { width: 39.66%; }
	.md-col11-6 .column:nth-child(11) { width: 48%; }
	.md-col11-7 .column:nth-child(11) { width: 56.33%; }
	.md-col11-8 .column:nth-child(11) { width: 64.66%; }
	.md-col11-9 .column:nth-child(11) { width: 73%; }
	.md-col11-10 .column:nth-child(11) { width: 81.33%; }
	.md-col11-11 .column:nth-child(11) { width: 89.66%; }
	.md-col11-12 .column:nth-child(11) { width: 98%; }
	.md-col12-1 .column:nth-child(12) { width: 6.33%; }
	.md-col12-2 .column:nth-child(12) { width: 14.67%; }
	.md-col12-3 .column:nth-child(12) { width: 23%; }
	.md-col12-4 .column:nth-child(12) { width: 31.33%; }
	.md-col12-5 .column:nth-child(12) { width: 39.66%; }
	.md-col12-6 .column:nth-child(12) { width: 48%; }
	.md-col12-7 .column:nth-child(12) { width: 56.33%; }
	.md-col12-8 .column:nth-child(12) { width: 64.66%; }
	.md-col12-9 .column:nth-child(12) { width: 73%; }
	.md-col12-10 .column:nth-child(12) { width: 81.33%; }
	.md-col12-11 .column:nth-child(12) { width: 89.66%; }
	.md-col12-12 .column:nth-child(12) { width: 98%; }
}

/**
* Layers DevKit Custom Mobile CSS
*/
@media only screen and (max-width: 376px){
	[class*="sm-col"] .column { margin: 0 1%; padding: 0 1rem; display: inline-block; }
	.sm-hide { display: none; }
	.sm-collapse { padding: 1rem 0 !important; }
	.sm-col1-1 .column:nth-child(1) { width: 6.33%; }
	.sm-col1-2 .column:nth-child(1) { width: 14.67%; }
	.sm-col1-3 .column:nth-child(1) { width: 23%; }
	.sm-col1-4 .column:nth-child(1) { width: 31.33%; }
	.sm-col1-5 .column:nth-child(1) { width: 39.66%; }
	.sm-col1-6 .column:nth-child(1) { width: 48%; }
	.sm-col1-7 .column:nth-child(1) { width: 56.33%; }
	.sm-col1-8 .column:nth-child(1) { width: 64.66%; }
	.sm-col1-9 .column:nth-child(1) { width: 73%; }
	.sm-col1-10 .column:nth-child(1) { width: 81.33%; }
	.sm-col1-11 .column:nth-child(1) { width: 89.66%; }
	.sm-col1-12 .column:nth-child(1) { width: 98%; }
	.sm-col2-1 .column:nth-child(2) { width: 6.33%; }
	.sm-col2-2 .column:nth-child(2) { width: 14.67%; }
	.sm-col2-3 .column:nth-child(2) { width: 23%; }
	.sm-col2-4 .column:nth-child(2) { width: 31.33%; }
	.sm-col2-5 .column:nth-child(2) { width: 39.66%; }
	.sm-col2-6 .column:nth-child(2) { width: 48%; }
	.sm-col2-7 .column:nth-child(2) { width: 56.33%; }
	.sm-col2-8 .column:nth-child(2) { width: 64.66%; }
	.sm-col2-9 .column:nth-child(2) { width: 73%; }
	.sm-col2-10 .column:nth-child(2) { width: 81.33%; }
	.sm-col2-11 .column:nth-child(2) { width: 89.66%; }
	.sm-col2-12 .column:nth-child(2) { width: 98%; }
	.sm-col3-1 .column:nth-child(3) { width: 6.33%; }
	.sm-col3-2 .column:nth-child(3) { width: 14.67%; }
	.sm-col3-3 .column:nth-child(3) { width: 23%; }
	.sm-col3-4 .column:nth-child(3) { width: 31.33%; }
	.sm-col3-5 .column:nth-child(3) { width: 39.66%; }
	.sm-col3-6 .column:nth-child(3) { width: 48%; }
	.sm-col3-7 .column:nth-child(3) { width: 56.33%; }
	.sm-col3-8 .column:nth-child(3) { width: 64.66%; }
	.sm-col3-9 .column:nth-child(3) { width: 73%; }
	.sm-col3-10 .column:nth-child(3) { width: 81.33%; }
	.sm-col3-11 .column:nth-child(3) { width: 89.66%; }
	.sm-col3-12 .column:nth-child(3) { width: 98%; }
	.sm-col4-1 .column:nth-child(4) { width: 6.33%; }
	.sm-col4-2 .column:nth-child(4) { width: 14.67%; }
	.sm-col4-3 .column:nth-child(4) { width: 23%; }
	.sm-col4-4 .column:nth-child(4) { width: 31.33%; }
	.sm-col4-5 .column:nth-child(4) { width: 39.66%; }
	.sm-col4-6 .column:nth-child(4) { width: 48%; }
	.sm-col4-7 .column:nth-child(4) { width: 56.33%; }
	.sm-col4-8 .column:nth-child(4) { width: 64.66%; }
	.sm-col4-9 .column:nth-child(4) { width: 73%; }
	.sm-col4-10 .column:nth-child(4) { width: 81.33%; }
	.sm-col4-11 .column:nth-child(4) { width: 89.66%; }
	.sm-col4-12 .column:nth-child(4) { width: 98%; }
	.sm-col5-1 .column:nth-child(5) { width: 6.33%; }
	.sm-col5-2 .column:nth-child(5) { width: 14.67%; }
	.sm-col5-3 .column:nth-child(5) { width: 23%; }
	.sm-col5-4 .column:nth-child(5) { width: 31.33%; }
	.sm-col5-5 .column:nth-child(5) { width: 39.66%; }
	.sm-col5-6 .column:nth-child(5) { width: 48%; }
	.sm-col5-7 .column:nth-child(5) { width: 56.33%; }
	.sm-col5-8 .column:nth-child(5) { width: 64.66%; }
	.sm-col5-9 .column:nth-child(5) { width: 73%; }
	.sm-col5-10 .column:nth-child(5) { width: 81.33%; }
	.sm-col5-11 .column:nth-child(5) { width: 89.66%; }
	.sm-col5-12 .column:nth-child(5) { width: 98%; }
	.sm-col6-1 .column:nth-child(6) { width: 6.33%; }
	.sm-col6-2 .column:nth-child(6) { width: 14.67%; }
	.sm-col6-3 .column:nth-child(6) { width: 23%; }
	.sm-col6-4 .column:nth-child(6) { width: 31.33%; }
	.sm-col6-5 .column:nth-child(6) { width: 39.66%; }
	.sm-col6-6 .column:nth-child(6) { width: 48%; }
	.sm-col6-7 .column:nth-child(6) { width: 56.33%; }
	.sm-col6-8 .column:nth-child(6) { width: 64.66%; }
	.sm-col6-9 .column:nth-child(6) { width: 73%; }
	.sm-col6-10 .column:nth-child(6) { width: 81.33%; }
	.sm-col6-11 .column:nth-child(6) { width: 89.66%; }
	.sm-col6-12 .column:nth-child(6) { width: 98%; }
	.sm-col7-1 .column:nth-child(7) { width: 6.33%; }
	.sm-col7-2 .column:nth-child(7) { width: 14.67%; }
	.sm-col7-3 .column:nth-child(7) { width: 23%; }
	.sm-col7-4 .column:nth-child(7) { width: 31.33%; }
	.sm-col7-5 .column:nth-child(7) { width: 39.66%; }
	.sm-col7-6 .column:nth-child(7) { width: 48%; }
	.sm-col7-7 .column:nth-child(7) { width: 56.33%; }
	.sm-col7-8 .column:nth-child(7) { width: 64.66%; }
	.sm-col7-9 .column:nth-child(7) { width: 73%; }
	.sm-col7-10 .column:nth-child(7) { width: 81.33%; }
	.sm-col7-11 .column:nth-child(7) { width: 89.66%; }
	.sm-col7-12 .column:nth-child(7) { width: 98%; }
	.sm-col8-1 .column:nth-child(8) { width: 6.33%; }
	.sm-col8-2 .column:nth-child(8) { width: 14.67%; }
	.sm-col8-3 .column:nth-child(8) { width: 23%; }
	.sm-col8-4 .column:nth-child(8) { width: 31.33%; }
	.sm-col8-5 .column:nth-child(8) { width: 39.66%; }
	.sm-col8-6 .column:nth-child(8) { width: 48%; }
	.sm-col8-7 .column:nth-child(8) { width: 56.33%; }
	.sm-col8-8 .column:nth-child(8) { width: 64.66%; }
	.sm-col8-9 .column:nth-child(8) { width: 73%; }
	.sm-col8-10 .column:nth-child(8) { width: 81.33%; }
	.sm-col8-11 .column:nth-child(8) { width: 89.66%; }
	.sm-col8-12 .column:nth-child(8) { width: 98%; }
	.sm-col9-1 .column:nth-child(9) { width: 6.33%; }
	.sm-col9-2 .column:nth-child(9) { width: 14.67%; }
	.sm-col9-3 .column:nth-child(9) { width: 23%; }
	.sm-col9-4 .column:nth-child(9) { width: 31.33%; }
	.sm-col9-5 .column:nth-child(9) { width: 39.66%; }
	.sm-col9-6 .column:nth-child(9) { width: 48%; }
	.sm-col9-7 .column:nth-child(9) { width: 56.33%; }
	.sm-col9-8 .column:nth-child(9) { width: 64.66%; }
	.sm-col9-9 .column:nth-child(9) { width: 73%; }
	.sm-col9-10 .column:nth-child(9) { width: 81.33%; }
	.sm-col9-11 .column:nth-child(9) { width: 89.66%; }
	.sm-col9-12 .column:nth-child(9) { width: 98%; }
	.sm-col10-1 .column:nth-child(10) { width: 6.33%; }
	.sm-col10-2 .column:nth-child(10) { width: 14.67%; }
	.sm-col10-3 .column:nth-child(10) { width: 23%; }
	.sm-col10-4 .column:nth-child(10) { width: 31.33%; }
	.sm-col10-5 .column:nth-child(10) { width: 39.66%; }
	.sm-col10-6 .column:nth-child(10) { width: 48%; }
	.sm-col10-7 .column:nth-child(10) { width: 56.33%; }
	.sm-col10-8 .column:nth-child(10) { width: 64.66%; }
	.sm-col10-9 .column:nth-child(10) { width: 73%; }
	.sm-col10-10 .column:nth-child(10) { width: 81.33%; }
	.sm-col10-11 .column:nth-child(10) { width: 89.66%; }
	.sm-col10-12 .column:nth-child(10) { width: 98%; }
	.sm-col11-1 .column:nth-child(11) { width: 6.33%; }
	.sm-col11-2 .column:nth-child(11) { width: 14.67%; }
	.sm-col11-3 .column:nth-child(11) { width: 23%; }
	.sm-col11-4 .column:nth-child(11) { width: 31.33%; }
	.sm-col11-5 .column:nth-child(11) { width: 39.66%; }
	.sm-col11-6 .column:nth-child(11) { width: 48%; }
	.sm-col11-7 .column:nth-child(11) { width: 56.33%; }
	.sm-col11-8 .column:nth-child(11) { width: 64.66%; }
	.sm-col11-9 .column:nth-child(11) { width: 73%; }
	.sm-col11-10 .column:nth-child(11) { width: 81.33%; }
	.sm-col11-11 .column:nth-child(11) { width: 89.66%; }
	.sm-col11-12 .column:nth-child(11) { width: 98%; }
	.sm-col12-1 .column:nth-child(12) { width: 6.33%; }
	.sm-col12-2 .column:nth-child(12) { width: 14.67%; }
	.sm-col12-3 .column:nth-child(12) { width: 23%; }
	.sm-col12-4 .column:nth-child(12) { width: 31.33%; }
	.sm-col12-5 .column:nth-child(12) { width: 39.66%; }
	.sm-col12-6 .column:nth-child(12) { width: 48%; }
	.sm-col12-7 .column:nth-child(12) { width: 56.33%; }
	.sm-col12-8 .column:nth-child(12) { width: 64.66%; }
	.sm-col12-9 .column:nth-child(12) { width: 73%; }
	.sm-col12-10 .column:nth-child(12) { width: 81.33%; }
	.sm-col12-11 .column:nth-child(12) { width: 89.66%; }
	.sm-col12-12 .column:nth-child(12) { width: 98%; }
	.sm-col1-hide .column:nth-child(1) { display: none; }
	.sm-col2-hide .column:nth-child(2) { display: none; }
	.sm-col3-hide .column:nth-child(3) { display: none; }
	.sm-col4-hide .column:nth-child(4) { display: none; }
	.sm-col5-hide .column:nth-child(5) { display: none; }
	.sm-col6-hide .column:nth-child(6) { display: none; }
	.sm-col7-hide .column:nth-child(7) { display: none; }
	.sm-col8-hide .column:nth-child(8) { display: none; }
	.sm-col9-hide .column:nth-child(9) { display: none; }
	.sm-col10-hide .column:nth-child(10) { display: none; }
	.sm-col11-hide .column:nth-child(11) { display: none; }
	.sm-col12-hide .column:nth-child(12) { display: none; }
}
