/*Typeplate CSS Base Styling*/
html {
	font-weight: 300;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	color: #7F7F7F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	margin-top: 0;
	text-rendering: optimizeLegibility;
	color: #222222;
	font-weight: 700;
}

h1 {
	font-size: 64px;
	font-size: 4rem;
	margin-bottom: 6px;
	margin-bottom: .375rem;
}

h2 {
	font-size: 48px;
	font-size: 3rem;
	margin-bottom: 8px;
	margin-bottom: .5rem;

}

h3 {
	font-size: 40px;
	font-size: 2.5rem;
	margin-bottom: 9.6px;
	margin-bottom: .6rem;
}

h4{
	font-size: 32px;
	font-size: 2rem;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

h5 {
	font-size: 24px;
	font-size: 1.5rem;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

h6 {
	font-size: 18px;
	font-size: 1.125rem;
	margin-bottom: 21.3328px;
	margin-bottom: 1.3333rem;
}

p,
a,
li {
	font-size: 16px;
	font-size: 1rem;
}

p {
	margin: 1.5rem auto;
}

p + p {
	margin-top: 0;
	margin-bottom: 0;
}

p.intro {
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 1.5rem auto;
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

ul li {
	color: black;
}

blockquote {
	font-style: italic;
	font-size: 1.5rem;
	line-height: 1.5;
}

.text-white {
  color:#fff;
}

.text-dark {
  color: #000;
}

.text-color {
    color: #903250;
}

.text-light {
    font-weight:100;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}
 
.text-justify {
  text-align:justify;
}

.text-shadow {
    text-shadow: 1px 1px 2px #000;
}


/*Device Specific Font Size*/
@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
@media screen and (max-width: 480px) {
    html {
		font-size: 12px;
	}
}
